table {
  width: 100%;
  background:#ccc;
  table-layout:fixed;
}

th.mat-sort-header-sorted {
  color: blue;
}

tr {
  border: 1px solid gray;
}

th {
  color: black;
}

td {
  background: #ccc;
  color: black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  p {
    padding: 0.5em;
    margin: 0;
  }
}

.isLoleando {
  background: lightcoral;
}

.table-container {
  width: 100%;
}
